<a href="https://colab.research.google.com/github/EuGeneB13/EuGeneBaek-H/blob/master/2020_04_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
# 1, 2

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd

df = pd.read_csv('/content/gdrive/My Drive/TopSellingAlbums.csv')

In [60]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

In [61]:
df['Length']

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [0]:
x = df[['Length']]

In [63]:
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [64]:
type(x)

pandas.core.frame.DataFrame

In [0]:
y = df[['Artist', 'Length', 'Genre']]

In [66]:
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

In [0]:
name_of_artist = y.iloc[0,0]

In [68]:
name_of_artist

'Michael Jackson'

In [69]:
y.iloc[0,1]

'0:42:19'

In [70]:
df.iloc[0,1]

'Thriller'

In [71]:
df.loc[0,'Artist']

'Michael Jackson'

In [72]:
df.loc[3, 'Released.1']

'17-Nov-92'

In [73]:
df.loc[0:2, 'Genre']

0      pop, rock, R&B
1           hard rock
2    progressive rock
Name: Genre, dtype: object

In [74]:
df.iloc[0:2,0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [75]:
small_data = df.iloc[2:4,3:5]
small_data

    Length             Genre
2  0:42:49  progressive rock
3  0:57:44    R&B, soul, pop

In [76]:
small_data.loc[2, 'Genre']

'progressive rock'

In [77]:
small_data.iloc[0,0]

'0:42:49'

In [0]:
# 3

filter1 = df['Released'] > 1979
filter2 = df['Music Recording Sales (millions)'] > 24

In [0]:
small_database = df.where(filter1 & filter2)

In [80]:
small_database

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
2              NaN            NaN       NaN  ...        NaN        NaN     NaN
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5
4              NaN            NaN       NaN  ...        NaN        NaN     NaN
5              NaN            NaN       NaN  ...        NaN        NaN     NaN
6              NaN            NaN       NaN  ...        NaN        NaN     NaN
7              NaN            NaN       NaN  ...        NaN        NaN     NaN

[8 rows x 10 columns]

In [121]:
# 4

for i in range(len(small_database['Genre'])):
  if 'rock' in small_database['Genre'][i]:
    print('"small_database" includes "rock" in its "Genre" section.')
    break
  else:
    print('"small_database" does not include "rock" in its "Genre" section.')

"small_database" includes "rock" in its "Genre" section.